= javascript_include_tag :defaults
= semantic_form_for [:admin, @team], :remote => :true do |f|
  = f.inputs do
    = f.input :organization_id, :collection => @organizations
    = f.input :season_id, :collection => @seasons
    = hidden_field_tag 'team_divisions_path', admin_season_divisions_path('_id', :format => 'json')
    = f.input :division_id, :collection => @divisions
    = f.input :name
    = f.input :short_name
    = f.input :show_in_standings, :as => :boolean
