= javascript_include_tag :defaults
= semantic_form_for [:admin, @division, @team], :remote => :true do |f|
  = f.inputs do
    = f.input :organization_id, :collection => @organizations
    = f.input :name
    = f.input :short_name
    = f.input :show_in_standings, :as => :boolean
= "sesson: #{session[:partial]}"
%br/
= "@partial: #{@partial}"
