.team{ :id => "team_#{team.id}", :style => "border: 1px solid #999; padding: 5px; width: 240px; margin: 3px; float: left;" }
  .logo{ :style => "border: 1px solid #999; height: 50px; width: 50px; float: left;" }
  .info{ :style => "float: left; margin-left: 5px;" }
    .name #{team.name}
    .actions
      = link_to 'Show', [:admin, team]
      = " | "
      = link_to 'Edit', edit_admin_team_path(team), :remote => :true
      = " | "
      = link_to 'Delete', [:admin, team], :confirm => 'Are you sure?', :method => :delete, :remote => :true
  .clear