%h1 Teams

Season: #{select("season", :id, @season_links, {:selected => request.fullpath }, { :class => "redirect_to" })}
%table
  %tr
    %th Name
    %th Division
    %th Actions
  - @teams.each do |team|
    %tr
      %td #{team.name}
      %td #{team.division_name}
      %td
        = link_to 'Edit', edit_admin_team_path(team)
        = " | "
        = link_to 'Destroy', [:admin, team], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Team', new_admin_team_path

