= semantic_form_for( [:admin, @logoable, @logo] , :html => {:multipart => true}, :remote => true ) do |f|
  = f.inputs do
    - if @logo.image?
      %li
        = image_tag @logo.image.url.to_s, { :id => 'target' }
    = f.input :image, :as => :file
    = f.input :image_cache, :as => :hidden