.player{ :id => "player_#{player.id}", :style => "border: 1px solid #999; padding: 5px; width: 240px; margin: 3px; float: left;" }
  .logo{ :style => "border: 1px solid #999; height: 50px; width: 50px; float: left;" }
  .info{ :style => "float: left; margin-left: 5px;" }
    .name #{player.fullname}
    .actions
      = link_to 'Edit', edit_admin_player_path(player), :remote => :true
      = " | "
      = link_to 'Delete', [:admin, player], :confirm => 'Are you sure?', :method => :delete, :remote => :true 
  .clear