= semantic_form_for( @game_result, :url => admin_game_game_result_path(@game.id), :remote => true ) do |f|
  = f.inputs do
    = f.input :left_score
    = f.input :right_score
    = f.input :completed_in, :collection => Score::Game.completed_in_options

