%tr
  %td #{event.starts.strftime('%D')}
  %td #{event.starts.strftime('%l:%M %P')}
  %td #{event.summary}
  %td
    = link_to 'Edit', edit_admin_event_path(event.id)
    = link_to 'Delete', admin_event_path(event), :confirm => 'Are you sure?', :method => :delete
    - if event.class == Score::Game
      = render :partial => 'score/admin/games/actions', :locals => { :game => event }