= semantic_form_for( @result, :url => admin_hockey_game_result_path(@game.id), :remote => true ) do |f|
  = f.inputs do
    = f.input :home_score, :label => @result.game.home_team_name
    = f.input :away_score, :label => @result.game.away_team_name
    = f.input :completed_in, :collection => Score::HockeyGameResult.completed_in_options