.season{ :id => "season_#{season.id}", :style => "border: 1px solid #999; padding: 5px; width: 240px; margin: 3px; float: left;" }
  .logo{ :style => "border: 1px solid #999; height: 50px; width: 50px; float: left;" }
  .info{ :style => "float: left; margin-left: 5px;" }
    .name #{season.name}
    .actions
      = link_to 'Edit', edit_admin_season_path(season), :remote => :true
      = " | "
      = link_to 'Delete', [:admin, season], :confirm => 'Are you sure?', :method => :delete, :remote => :true
      = " | "
      = link_to 'Divisions', admin_season_divisions_path(season)      
  .clear